body {
    font-family: "Spectral", serif;
    color: $text1;
    background: $bg-light;
  }
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .order {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 2rem 0;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  
  p {
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  
  .btn__primary {
    background: $accent;
  }
  
  .layout-lg {
    margin: 0 auto;
    max-width: 960px;
  }
  .shadow-sm {
    box-shadow: 0 4px 0.5rem -0.125rem rgba(0, 0, 0, 0.1),
      0 0.125rem 0.25rem -0.125rem rgba(0, 0, 0, 0.06);
  }
  
  .shadow-lg {
    box-shadow: 0 5px 20px 0 rgba(234, 32, 39, 0.3);
  }